[run]
source = asciistuff
omit =
    src/asciistuff/__info__.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    if.*?__name__.*?==.*?.__main__.:
    def main\(\)\:
    except ImportError:
    except NameError:
    raise NotImplementedError
